* {
    box-sizing: border-box;
  }

  main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    flex-wrap: wrap;
  }
  
  /* Score style */
  #result {
    flex: 1 100%;
    color:white;
  }
  
  #round-message,
  #score {
    text-align: center;
  }
  
  #round-message {
    font-size: 1.5em;
    text-transform: capitalize;
  }
  
  #score {
    font-size: 3em;
    margin-bottom: 10px;
  }


  /* Player style */
.players {
    display: inline-flex;
    flex-wrap: wrap;
    flex: 1;
    padding: 10px 25px;
    align-self: baseline;
  }
  
  .selected-option,
  .name,
  .available-options {
    display: inline-flex;
    flex: 1 100%;
    padding: 15px 0;
  }
  
  .selected-option,
  .name {
    justify-content: center;
  }
  
  .name {
    font-size: 1.8em;
    color: white;
    font-weight: 600;
  }
  
  /* Options Style */
  .available-options {
    justify-content: center;
  }
  
  .option {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 75px;
    padding: 10px;
    border-radius: 50%;
    border: 1px solid #a37471;
    box-shadow: 0 0 3px;
    cursor: pointer;
    background-color: rgb(112, 110, 106);
    margin: 0 20px;
  }
  
  .option.active {
    border-color: blue;
  }
  
  .option:hover > img {
    transform: scale(1.1);
  }
  
  .option > img {
    width: 70%;
    transition: all 0.2s ease;
  }
  
  .selected-option > .option {
    width: 200px;
    height: 200px;
  }


  /* Reset button */
.reset {
    display: inline-flex;
    flex: 1 100%;
    justify-content: center;
    margin-top: 20px;
  }
  
  .reset > span {
    font-size: 1.8em;
    cursor: pointer;
    border: 1px solid red;
    padding: 10px 15px;
    background-color: #f44336;
    box-shadow: 0 0 3px;
    color: #fff;
    transition: all 0.2s ease;
  }
  
  .reset > span:hover {
    color: #000;
  }